<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <link rel="shortcut icon" href="https://www.online-convert.com/downloadFile/233538df-f8fb-4003-b3a1-27ea2c6c9ff1/fb705144-29d3-4d79-b676-2a9662ba8d72">
        <meta charset="utf8">
        <title>Leaderboard</title>
    </head>
    <body>
        <!-- this is displayed on the webpage -->
        <h1>Leaderboard</h1>
        <img src="https://i.pinimg.com/originals/49/91/3a/49913abf5aa6e5cdc5d8fdaa399305f5.png" alt="kermit" width=350 height=350>
        <form action="leaderboard" Method="post">

        <a href="/menu">Main Menu</a>
    </body>
